.upload-button {
    text-align: center;
    margin-top: 25%;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

 .header {
     margin-bottom: 100px;
     font-size: 50px;
     margin-top: 0px;
 }

 .below-header {
     margin-bottom: 50px;
     font-size: 25px;
 }
